[submodule "files/oh-my-zsh"]
	path = files/oh-my-zsh
	url = git@github.com:dgoodlad/oh-my-zsh.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "vim-plugins/ctrlp.vim"]
	path = vim-plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-plugins/ack.vim"]
	path = vim-plugins/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim-plugins/nerdcommenter.vim"]
	path = vim-plugins/nerdcommenter.vim
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-plugins/liquid.vim"]
	path = vim-plugins/liquid.vim
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim-plugins/liquid.vim.syntax"]
	path = vim-plugins/liquid.vim.syntax
	url = https://github.com/vim-scripts/liquid.vim.git
[submodule "vim-plugins/tabular.vim"]
	path = vim-plugins/tabular.vim
	url = https://github.com/godlygeek/tabular.git
[submodule "vim-plugins/numbers.vim"]
	path = vim-plugins/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim-plugins/syntastic.vim"]
	path = vim-plugins/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-plugins/coffee-script.vim"]
	path = vim-plugins/coffee-script.vim
	url = https://github.com/kchmck/vim-coffee-script.git
