[user]
	name = Tom
	email = bballts14@gmx.de
[github]
	user = tsommer
[merge]
	tool = opendiff

[help]
	autocorrect = 1
[color]
	ui = 1
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[pre-commit]
	checks = white_space, console_log, tabs, debugger, ruby_symbol_hashrockets, merge_conflict, migrations
